@font-face {
    font-family: custom;
    src: url('./fonts/sf-pro-text_regular.woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: custom;
    font-weight: 500;
}

html, body {
    height: 100%;
    width: 100%;
}

body h1 {
    text-align: center;
    color: brown;
    background-color: burlywood;
}

#main {
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 10px 25px rgba(0,0,0,0.22);
    transition:  all ease 1.0s;
    overflow: hidden;
}

.card img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.card h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(224, 22, 22);
    font-weight: 500;
}

.card p {
    color: rgb(224, 22, 22);
    font-family: custom;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 10px;
}

.card:hover {
    background-color: lightgreen;
}