* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    margin-top: 20px;
    color: white
}

#box {
    height: 100px;
    width: 100px;
    color: red;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center; /* Horizontally centers items in a column flex container */
    flex-direction: column; /* Stacks children vertically */
}

button {
    padding: 10px 20px;
    margin-top: 30px; 
    width: 120px;
    height: 50px;
    background-color: crimson;
}

#card {
    height: 100px;
    width: 100px;
    margin-top: 20px; /* Add some space between the heading and the card */
}

#card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the area without distortion */
}